<app-home></app-home>
    <div class="card">
      <div class="container">
        <form #myTemplateVar="ngForm" novalidate action="" mathod="post">
          <p>
            <label for="title">Title: </label><input id="title" type="text" [(ngModel)]="nome" name="nome"  />
          </p>
          {{myTemplateVar.nome }}
          <p>
            <label for="subtitle">Subtitle: </label><input id="titlesub" type=""  />
          </p>
          <p>
            <label for="contentText">Content:</label><br />
            <textarea id="content" rows="10"></textarea>
          </p>
          <p style="text-align: center;">
            <button class="button button-green">Submit</button>
          </p>
        </form>
      </div>
    </div>
    <hr>